:root {
	box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::before, ::after {
    box-sizing: inherit;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    font-family: 'K2D', sans-serif;
    
}