

.intro {
    padding: 10em 2em 2em;
    max-width: 1280px;
    margin: 6em auto;
    
    
    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    
    &__summary {
        
    }
    
    &__image-wrap {
        position: relative;
        transition: all 800ms;
       
        &::before {
            content: "";
            background-color: red;
            position: absolute;
            top: 0;
            left: -100%;
            right: 100%;
            bottom: 0;
            transition: all 800ms;
        }
        
    }
    
    &__image-wrap.is--visible {
        
        &::before {
            left: -100%;
            right: 0;
        }
        
    }
    
    &__image {
        max-width: 100%;
        height: auto;
        
    }
    
    
    
}