.wrap {
    z-index: 600;
}

.verysoon a {
    color: #fff;
    text-decoration: underline;
    transition: all 300ms ease-out;
}

.verysoon a:hover {
    color: #ccc;
}


.nav {
    padding: 1em 2em;
    background-color: rgba(0,0,0,1);
    transition: all 550ms ease-out;
    
    overflow: hidden;
    
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: all 550ms ease-out;
    }
    
    &__item:not(.nav__item-logo) {  
        transition: all 550ms ease-out;
        
        opacity: 0;
        transform: translateY(-100px);
    }
    
    &__item:not(:first-of-type) {  
        margin-left: 1.5em;
    }
    
    &__item-logo {
        
    }
    
    &__item-logo img {
        width: 4em;
        height: 4em;
        border-radius: 50%;
        opacity: 0;
        transform: scale(10);
        visibility: hidden;
        transition: all 550ms ease-out 1200ms;
    }
    
    &__link {
        color: #fff;
    }
    
    
    &.sticky {
        z-index: 500;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba(0,0,0,.7);
        
        & .nav__item:not(.nav__item-logo) {
            opacity: 1;
            transform: translateY(0);
        }
        
        & .nav__item:nth-of-type(2) {
            transition-delay: 100ms;
        }
        
        & .nav__item:nth-of-type(3) {
            transition-delay: 200ms;
        }
        
        & .nav__item:nth-of-type(5) {
            transition-delay: 300ms;
        }
        
        & .nav__item:nth-of-type(6) {
            transition-delay: 400ms;
        }
        
        & .nav__item:nth-of-type(7) {
            transition-delay: 500ms;
        }
        
        & .nav__item-logo img {
            width: 4em;
            height: 4em;
            border-radius: 50%;
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
        
    }

    
}
